$color1 : #000;
$color2 : #111;
$color3 : #999999;
$color4 : #bdbdbd;
$title : #555555;
$colorRed : #e52421;

:host{
    .container{
        padding: 30px 0 20px 0;

        h3{
            text-transform: uppercase;
            color: $title;
            font-weight: bold;
        }
    
        .product-item{
    
            padding: 20px;
    
            img{
                width: 100%;
            }
    
            h5{
                color: $colorRed;
                font-size: 18px;
            }
    
            p{
                padding-top: 5px;
                padding-bottom: 5px;
                margin: 0;
    
                span{
                    font-weight: bold;
                    padding: 5px 0;
                }
        
                .new-price{
                    color: $title;
                }
            }
    
            button{
                margin: 10px 0;
            }
    
        }
    }    
}