<nav class="collapse bd-links" aria-label="Filtros de Búsqueda">
    <ul class="list-unstyled mb-0 py-3 pt-md-1">
        <!-- Filter Nro 1 -->
        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
                data-bs-target="#filtro1" aria-expanded="false">
                Filtrar por precio
            </button>
            <div class="collapse" id="filtro1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        más de 100
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        menos de 100
                    </label>
                </div>
            </div>
        </li>

        <!-- Filter Nro 2 -->
        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
                data-bs-target="#filtro2" aria-expanded="false">
                Filtro 2
            </button>
            <div class="collapse" id="filtro2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Texto 1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Texto 2
                    </label>
                </div>
            </div>
        </li>

        <!-- Filter Nro 3 -->
        <li class="mb-1">
            <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
                data-bs-target="#filtro3" aria-expanded="false">
                Filtro 3
            </button>
            <div class="collapse" id="filtro3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Texto 1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Texto 2
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Texto 3
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Texto 4
                    </label>
                </div>
            </div>
        </li>
    </ul>
</nav>