<section class="header">
    <div class="div-logo">
        <a href="#">
            <img src="./assets/img/logo.png" alt="logo game stop center" height="91" width="188">
        </a>
    </div>
    <div class="div-search">
        <input type="text" class="form-control" placeholder="Buscar">
        <button class="btn btn-outline-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div class="div-icons">
        <button type="button" class="btn btn-dark"><strong>Carrito S/ 0.00 </strong><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-outline-secondary"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-outline-secondary"><i class="fa fa-user" aria-hidden="true"></i></button>
    </div>
</section>