
$header : #ffffff;
$carousel : #fff;
// $features : #d4d4d4;
$features : #fff;
$products : #e2e2e2;
$footer : #c5c4c4;

:host{
    section{
        padding: 10px;
        text-align: center;
    }

    .header{
        background-color: $header;
        display: flex; 

        .div-logo{
            flex-grow: 1;
        }

        .div-search{
            display: flex;
            margin: 25px 0;
            flex-grow: 2;
        }

        .div-icons{
            margin: 25px 0;
            flex-grow: 1;
        }
    }

    .carousel{
        background-color: $header;
        padding: 0;
    }

    .brands{
        padding: 40px 0;
    }

    .features{
        background-color: $features;
        font-size: 20px;
        padding: 30px 0;

        .div-item{
            padding: 10px 40px;

            span{
                font-size: 40px;
    
                i{
                    padding: 20px 0;
                }
            }
        }

        hr{
            background-color: #b6b6b6;
        }
    }
    
    .products{
        background-color: $products;
        padding: 50px 30px;

        .product{
            padding: 10px 50px;

            .product-border{
                border: 1px solid rgb(131, 131, 131);
                padding: 20px 10px;
    
                .product-description{
                    text-align: left;
                }
            }
        }

    }
    
    .footer{
        background-color: $footer;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 40px;
        padding-bottom: 10px;

        .copy{
            text-align: left;

            span{
                opacity: 50%;
            }
        }
    }
}

