<section class="footer">
    <div class="row">
        <div class="col-4">
            <span><i class="fa fa-map-marker" aria-hidden="true"></i> Ubicación</span>
        </div>
        <div class="col-4">
            <span><i class="fa fa-envelope" aria-hidden="true"></i> correo@mail.com</span>
        </div>
        <div class="col-4">
            <span><i class="fa fa-phone" aria-hidden="true"></i> 999 999 999</span>
        </div>
    </div>
    <hr>
    <img src="https://picsum.photos/50/50">
    <br>
    <div class="row">
        <span>
            <a href="">Link 1</a> |
            <a href="">Link 2</a> |
            <a href="">Link 3</a> |
            <a href="">Link 4</a>
        </span>
    </div>
    <div class="row copy">
        <span>© Rodrigo Saraya 2022</span>
    </div>
</section>