<app-header></app-header>

<app-menu-bar></app-menu-bar>

<section class="breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Mouse</a></li>
            </ol>
        </nav>
    </div>
</section>

<section class="view">
    <div class="container">
        <div class="row">
            <div class="col-6 pt-images">

                <div id="product-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="0">

                    <div class="carousel-inner">
                        <div *ngFor="let item of product.images; let i = index" class="carousel-item" id="slide_{{i}}" [class]="i == 0 ? 'active' : ''" >
                            <img [src]="item.url" class="d-block w-100" [alt]="item.title">
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" (click)="prevNextButton(1)">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" (click)="prevNextButton(2)">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>

                <div class="row product-row">
                    <div class="col-2 product-item" *ngFor="let image of product.images; let i = index" [class]="image.active ? 'active' : ''">
                        <a [routerLink]="" data-bs-target="#product-carousel" attr.data-bs-slide-to="{{i}}" (click)="changeImage(i)">
                            <img [src]="image.url" class="d-block w-100" [alt]="image.title">
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-6 pt-description">
                <h2>Logitech – MX ANYWHERE</h2>
                <div class="div-price">
                    <p>
                        <span class="old-price">S/. 320.00</span>
                        <span class="offer-price">S/. 290.00</span>
                    </p>
                </div>
                <div class="div-features">
                    <ul>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Excepturi omnis blanditiis maxime similique saepe</li>
                        <li>A dicta dolorum iste velit accusantium harum possimus</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Excepturi omnis blanditiis maxime similique saepe</li>
                        <li>A dicta dolorum iste velit accusantium harum possimus</li>
                    </ul>
                </div>
                <div class="div-quantity">
                    <input type="number" class="form-control" value="1">
                    <button class="btn btn-danger">Añadir al carrito</button>
                </div>
                <div class="div-footer">
                    <p>Categoría: <a href="#" class="category">Mouse</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <ul class="nav nav-tabs" id="tabProduct" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                    data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                    aria-selected="true">Descripción</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="rating-tab" data-bs-toggle="tab" data-bs-target="#rating-tab-pane"
                    type="button" role="tab" aria-controls="rating-tab-pane" aria-selected="false">Valoraciones</button>
            </li>
        </ul>

        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="description-tab"
                tabindex="0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At expedita accusamus, vero voluptatibus
                voluptas totam ad assumenda tempore numquam. Recusandae ipsa itaque, praesentium quam impedit id labore
                perspiciatis saepe tempore possimus accusantium fugiat voluptatum autem fugit dolorem eligendi delectus
                ad aspernatur expedita assumenda? Magnam, quisquam impedit! Odio reiciendis commodi quasi ad dolorum!
                Deserunt laudantium ratione beatae quo eius vero velit aliquid labore, dicta tempora dignissimos!
                Suscipit voluptas nesciunt accusantium, quos odio maiores distinctio, eaque eos repellendus consectetur
                modi cum ea aut fugit qui eum quis voluptates porro ex. Voluptatum odio quae iure eligendi quod expedita
                rem commodi inventore aspernatur molestias.
            </div>
            <div class="tab-pane fade" id="rating-tab-pane" role="tabpanel" aria-labelledby="rating-tab" tabindex="0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam quidem illum sapiente,
                aspernatur voluptatum? Totam, distinctio dicta nisi pariatur maxime reiciendis illum, fuga nesciunt sed
                tenetur alias reprehenderit obcaecati eaque? Soluta adipisci, quidem officiis ab saepe assumenda
                mollitia repellendus vel numquam at excepturi maiores animi repellat blanditiis omnis id dolorem veniam
                earum unde quis perspiciatis. Earum eaque dolorum libero numquam voluptatum similique ab porro nemo iure
                eligendi saepe explicabo tempore natus sapiente sint tenetur facere, eius unde. Adipisci consectetur
                reiciendis tempore iure error minima illo laudantium, facilis, deserunt, modi pariatur repudiandae
                maxime asperiores vitae! Molestias ipsa impedit voluptatibus adipisci voluptas porro fuga architecto
                totam et ab minima, deleniti blanditiis quasi iure veniam consequuntur similique itaque nostrum ducimus
                id soluta repellat. Rerum esse aut, tempora blanditiis libero dicta incidunt voluptas doloremque quos
                illum omnis fugiat fuga hic tenetur labore! Rerum, nulla explicabo omnis corporis blanditiis nobis quae
                ullam accusantium recusandae?
            </div>
        </div>
    </div>
</section>

<app-related-products></app-related-products>

<app-footer></app-footer>