$colorBlack : #000;
$colorWhite : #fff;

:host{
    .navbar{
        background-color: $colorBlack !important;
        font-size: 25px;
        text-transform: uppercase;

        .collapse{
            .nav-item{
                margin: 0 10px;

                .nav-link{
                    color: $colorWhite;
                }
                
                .dropdown-item{
                    color: $colorBlack !important;
                }   
            }
        }
    }
}